x-common: &common
  env_file:
    - .env.prod
  restart: unless-stopped

services:
  telegram-github-release-bot:
    <<: [*common]
    build:
      context: .
      dockerfile: Dockerfile
    container_name: telegram-github-release-bot
    image: github-release-bot
    volumes:
      - .:/app
    command: gunicorn -k uvicorn.workers.UvicornWorker src.main:app
    # ports:
    #   - 8000:80
    networks:
      - cf

networks:
  cf:
    external: true
